@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


* {
    margin:0;
    padding :0;
    box-sizing: border-box;
}

.nav {
    height: 10vh;
    width: 100vw;
    position: static;
    background-color:rgb(46, 201, 149);

}
h3 {
    display: flex;
    position:static;
    justify-content: center;
    background-color: aqua;
    height: 10vh;
    width: 100vw;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.main {
    background-color:rgb(173, 233, 213);
    height: 85vh;
    width: 100vw;
}

.icons {
    height:5vh;
    position: relative;
    padding: 8px;
    background-color:rgb(173, 233, 213);
}

.x {
    display: none;
}

.notes {
    
    height: 85vh;
}